body{
    width: 100%;
    height: 100%;
}

.btn-fab {
    position: fixed !important;
    right: 20px;
    bottom: 20px;
}

.wbdv-top-create-outer {
    width: 48px;
    height: 48px;
    position: relative;
    margin-left: 5px;
}

.wbdv-top-create-inner {
    background-color: white;
    height: 28px;
    width: 25px;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: -1;
}

.wbdv-create-btn {
    color: #db4437;
}

.add-course-input {
    border-radius: 5px !important;
    background-color: #6099f6 !important;
    border-width: 0px !important;
}

.add-course-input:focus {
    background-color: white !important;
}

/* do not group these rules */
.add-course-input::-webkit-input-placeholder {
    color: #ffffff !important;
}
.add-course-input:-moz-placeholder {
    color: #ffffff !important;
}
.add-course-input::-moz-placeholder {
    color: #ffffff !important;
}
.add-course-input:-ms-input-placeholder {
    color: #ffffff !important;
}

.add-course-input:focus::-webkit-input-placeholder {
    color: #000 !important;
}
.add-course-input:focus:-moz-placeholder {
    color: #000 !important;
}
.add-course-input:focus::-moz-placeholder {
    color: #000 !important;
}
.add-course-input:focus:-ms-input-placeholder {
    color: #000 !important;
}

.wbdv-course-header {
    position: fixed;
    top:64px;
    width: 100%;
    box-shadow: 1px 2px 1px #d3d3d3;
    background-color: #eee;
    height: 50px;
    line-height: 50px;
}

.wbdv-clear-both{
    clear: both;
}

.wbdv-course-list {
    margin-top: 50px;
}

.wbdv-course-row {
    line-height: 50px;
    border-bottom: 1px solid #eee;
}
.wbdv-course-row:last-child {
    border-bottom: 0px;
}